---
- hosts: all
  gather_facts: yes
  become: yes
  vars_prompt:
  - name: "rhsm_username"
    prompt: "Enter RHN username"
    private: no
  - name: "rhsm_password"
    prompt: "Enter RHN password"
    private: yes
  tasks:
  - name: initialize subscription manager
    include_tasks: rhel.yml
    when: ansible_os_family == "RedHat"

  - name: disable security
    include_tasks: security.yml

  - include_role:
      name: geerlingguy.postgresql
    when: sonar == "db"

  - include_role:
      name: "{{ item }}"
    when: sonar == "ui"
    with_items:
    - geerlingguy.java
    - sonar
